/* This makes height and width properties adjust the 
size of a box border's outer edge, rather than the 'content area' 
inside the border and padding.*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.container {
  position: relative;
}
#content{ /* Entire Page Content*/
    width: 70%;
    margin: auto;
    background: rgba(180,180,250, 1);
    margin-top: 0px;
    padding-top: 0px;
}
#nav-bar {
  position: absolute;
  left: 0px;
  width: 180px;
  height: 100%;
  background: rgba(230,200,250, 1);
}
#nav-bar li{
  list-style: none;
}
#nav-bar li a{
  color: white;
  text-decoration: none;
}
#nav-bar li a:hover{
  text-decoration: underline;
  font-weight: bold;
}
.section {
  /* position is static by default */
  margin-left: 180px;
  padding: 1px 20px 20px 20px;
  background: rgba(255,255,255,.8);
}
#body p {
  white-space: pre-line;
}
#footer {
  /*Footer Properties*/
  bottom: 0;
  left: 0;
  /*position: fixed;*/
  height: 40px;
  width: 100%;
  background-color: grey;
  /*Text Properties*/
  color: white;
  text-align: right;
  padding: 10px;
}
body {
  margin-bottom: 60px;
  margin-top: 0px;
  padding-top: 0px;
}


h1 { 
    color:blue;
    text-shadow: 2px 2px 4px grey;
    /*text-align: center;*/
    padding-left: 20px;
    padding-top: 20px;
}